.data-container {
  max-width: none;
  padding-top: 70px;
  padding-right: 300px;
  @media screen and (max-width: 768px) {
    padding-right: 200px;
  }
  @media screen and (max-width: 576px) {
    padding-bottom: 60px;
    padding-right: 0;
  }
  .data-list {
    padding: 40px;
    margin: auto;
  }
}
