// If you want to override variables do it here
@import "variables";

// Import styles
@import "node_modules/@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

#alertContainer{
  position: absolute;
  right: 0;
  bottom: 0;
}

.timeline-logo{
font-family: Tahoma, Geneva, sans-serif;
font-size: 30px;
letter-spacing: 0.2px;
word-spacing: -1.6px;
color: #000000;
text-decoration: none;
font-style: normal;
text-transform: none;
padding-left: 12px;
}
