<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Web Programming HW2</title>
  <link rel="stylesheet" href="../../../dist/css/styles.css" />
</head>

<body dir="rtl">
  <nav class="navbar navbar-expand-lg navbar-light bg-light row align-items-center">
    <div class="col-auto align-self-end">
      <img src="../../assets/logo.png" alt="" height="50px" />
      <button type="button" class="btn btn-light">خانه</button>
      <button type="button" class="btn btn-light">داده‌ها</button>
    </div>
    <div class="col row justify-content-end align-items-center">
      <div class="col">
        <button type="button" class="btn btn-light text-primary">ورود</button>
      </div>
      <div class="col-auto">
        <input class="form-control w-auto" type="text" placeholder="جست‌وجو" aria-label="search" />
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="login-container row justify-content-center align-items-center">
      <form class="login-form text-right">
        <div class="form-group">
          <label for="name">نام</label>
          <input type="text" placeholder="نام" class="form-control" id="name" />
        </div>
        <div class="form-group">
          <label for="email">ایمیل</label>
          <input type="email" placeholder="ایمیل" class="form-control" id="email" />
        </div>
        <div class="form-group">
          <label for="password">رمز عبور</label>
          <input type="password" placeholder="رمز‌عبور" class="form-control" id="password" />
          <small id="passwordLength" class="form-text text-muted">حداقل ۸ کاراکتر باشد</small>
        </div>
        <div class="form-group form-check ltr">
          <input type="checkbox" class="form-check-input" id="terms" />
          <label class="form-check-label" for="terms">
            قوانین و شرایط سایت را می‌پذیرم
          </label>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">
          ثبت‌نام
        </button>
      </form>
      <div class="justify-self-end image-container">
        <img class="login-image" src="../../assets/login.png" alt="" />
        <span class="text-on-image text-secondary">Join Us Now</span>
      </div>
    </div>
  </div>
</body>

</html>