@import "./bootstrap.scss";
@import "./login.scss";

body {
  font-family: "Sahel", sans-serif;
}

@media screen and (min-width: 600px) {
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 3;
    height: 70px;
    margin: 0px 0px 0px 0px;
  }

  button{
    margin-right: 10px;
  }
  
  .sidebar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 70px 0px 0px 0px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: right;
  }

  .info{
    padding: 20px 20px 20px 20px;
  }

  .info > h4{
    margin-bottom: 20px;
  }

  ul.team{
    list-style-type: square;
  }

  .container{
    max-width: none;
    padding: 90px 320px 20px 20px;
  }

  .table{
    text-align: right;
  }
  
  #next{
    margin: 0px 0px 0px 0px;
    float: left;
  }
  
  #previous{
    margin: 0px 0px 0px 0px;
    float: right;
  }

  .card-deck{
    justify-content: center;
  }

  .card-body{
    padding: 10%;
  }

  .card-deck .card{
    min-width: 20.5%;
    max-width: 23%;
    align-items: center;
  }

  .card-text{
    font-size: 1.5vw;
  }

}

@media screen and (max-width: 599px) {
  .card-deck{
    justify-content: center;
  }

 .card-body{
    padding: 10%;
  }

  .card-deck .card{
    min-width: 100%;
    max-width: 100%;
    align-items: center;
  }

  .card-text{
    font-size: 5vw;
  }
}

.ltr {
  direction: ltr !important;
}

.rtl {
  direction: rtl !important;
}
