.Auth{
    min-height: 100vh;
    background-color: #eeeeee;
    .form-container{
        background-color: white;
        width: 400px;
        padding: 40px;
        border-radius: 10px;
    }
    .relocate{
        color: rgb(70, 69, 69);
    }
}