<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/gh/rastikerdar/shabnam-font@v5.0.1/dist/font-face.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="../../dist/css/styles.css" />
    <link
      rel="icon"
      type="image/png"
      href="../assets/blue_favicon/favicon.ico"
    />
  </head>

  <body dir="rtl">
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light row align-items-center shadow"
    >
      <div class="col-auto align-self-end row align-items-center">
        <img class="logo" src="../assets/logo.png" alt="" height="50px" />
        <a class="text-decoration-none" href=".\">
          <button type="button" class="btn btn-light">خانه</button>
        </a>
        <a class="text-decoration-none" href=".\data">
          <button type="button" class="btn btn-light">داده‌ها</button>
        </a>
      </div>
      <div class="col row justify-content-end align-items-center">
        <div class="col">
          <a class="text-decoration-none" href=".\login">
            <button type="button" class="btn btn-light text-primary">
              ورود
            </button>
          </a>
        </div>
        <div class="col-auto">
          <input
            class="form-control w-auto"
            type="text"
            placeholder="جست‌وجو"
            aria-label="search"
          />
        </div>
      </div>
    </nav>

    <div class="sidebar">
      <!-- <div class="info">
        <h4>اعضای تیم:</h4>
        <ul class="team">
          <li>فاطمه خاشعی</li>
          <li>سید مهدی فقیه</li>
        </ul>
      </div> -->
    </div>

    <div class="home-container">
      <div class="card-deck row">
        <div class="col-12 col-sm-4 col-lg-3 mb-4">
          <div>
            <img src="../assets/card.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-text">Card Number 1</h6>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-lg-3 mb-4">
          <div>
            <img src="../assets/card.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-text">Card Number 1</h6>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-lg-3 mb-4">
          <div>
            <img src="../assets/card.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-text">Card Number 1</h6>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-lg-3 mb-4">
          <div>
            <img src="../assets/card.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-text">Card Number 1</h6>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-lg-3 mb-4">
          <div>
            <img src="../assets/card.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-text">Card Number 1</h6>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-lg-3 mb-4">
          <div>
            <img src="../assets/card.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-text">Card Number 1</h6>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-lg-3 mb-4">
          <div>
            <img src="../assets/card.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-text">Card Number 1</h6>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-lg-3 mb-4">
          <div>
            <img src="../assets/card.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-text">Card Number 1</h6>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-lg-3 mb-4">
          <div>
            <img src="../assets/card.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-text">Card Number 1</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
