<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Home</title>
  <link rel="stylesheet" href="../../dist/css/styles.css" />
</head>

<body dir="rtl">
  <nav class="navbar navbar-expand-lg navbar-light bg-light row align-items-center shadow p-3 mb-5 bg-white rounded">
    <div class="col-auto align-self-end">
      <img src="../assets/logo.png" alt="" height="50px" />
      <button type="button" class="btn btn-light text-primary">خانه</button>
      <button type="button" class="btn btn-light">داده‌ها</button>
    </div>
    <div class="col row justify-content-end align-items-center">
      <div class="col">
        <button type="button" class="btn btn-light">ورود</button>
        <button type="button" class="btn btn-dark">ثبت نام</button>
      </div>
    </div>
  </nav>
  <div class="sidebar">
    <div class="info">
      <h4>اعضای تیم:</h4>
      <ul class="team">
        <li>فاطمه خاشعی</li>
        <li>سید مهدی فقیه</li>
      </ul>
    </div>
  </div>
  <div class="container", dir="ltr">
    <div class="card-deck", style="align-self: center;">
      <div class="card border-dark mb-3">
        <img src="../assets/card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-text">Card Number 1</h6>
        </div>
      </div>
      <div class="card border-dark mb-3">
        <img src="../assets/card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-text">Card Number 2</h6>
        </div>
      </div>
      <div class="card border-dark mb-3">
        <img src="../assets/card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-text">Card Number 3</h6>
        </div>
      </div>
      <div class="card border-dark mb-3">
        <img src="../assets/card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-text">Card Number 4</h6>
        </div>
      </div>
      <div class="card border-dark mb-3">
        <img src="../assets/card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-text">Card Number 5</h6>
        </div>
      </div>
      <div class="card border-dark mb-3">
        <img src="../assets/card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-text">Card Number 6</h6>
        </div>
      </div>
      <div class="card border-dark mb-3">
        <img src="../assets/card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-text">Card Number 7</h6>
        </div>
      </div>
      <div class="card border-dark mb-3">
        <img src="../assets/card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-text">Card Number 8</h6>
        </div>
      </div>
      <div class="card border-dark mb-3">
        <img src="../assets/card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-text">Card Number 9</h6>
        </div>
      </div>
      <div class="card border-dark mb-3">
        <img src="../assets/card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-text">Card Number 10</h6>
        </div>
      </div>
      <div class="card border-dark mb-3">
        <img src="../assets/card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-text">Card Number 11</h6>
        </div>
      </div>
      <div class="card border-dark mb-3">
        <img src="../assets/card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-text">Card Number 12</h6>
        </div>
      </div>
      <div class="card border-dark mb-3">
        <img src="../assets/card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-text">Card Number 13</h6>
        </div>
      </div>
      <div class="card border-dark mb-3">
        <img src="../assets/card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-text">Card Number 14</h6>
        </div>
      </div>
      <div class="card border-dark mb-3">
        <img src="../assets/card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-text">Card Number 15</h6>
        </div>
      </div>
      <div class="card border-dark mb-3">
        <img src="../assets/card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-text">Card Number 16</h6>
        </div>
      </div>
    </div>
  </div>

</body>

</html>