<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="../../dist/css/styles.css" />
</head>

<body dir="rtl">
  <nav class="navbar navbar-expand-lg navbar-light bg-light row align-items-center">
    <div class="col-auto align-self-end">
      <img src="../assets/logo.png" alt="" height="50px" />
      <button type="button" class="btn btn-light">خانه</button>
      <button type="button" class="btn btn-light text-primary">داده‌ها</button>
    </div>
    <div class="col row justify-content-end align-items-center">
      <div class="col">
        <button type="button" class="btn btn-light">ورود</button>
        <button type="button" class="btn btn-dark">ثبت نام</button>
      </div>
    </div>
  </nav>
  <div class="sidebar">
    <div class="info">
      <h4>اعضای تیم:</h4>
    </div>
  </div>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr class="table-dark">
          <th scope="col">رتبه</th>
          <th scope="col">نام تیم</th>
          <th scope="col">نام دانشگاه و کشور</th>
          <th scope="col">امتیاز</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>قهرمان</td>
          <td>دانشگاه صنعتی شریف، ایران</td>
          <td>100</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>مدال نقره</td>
          <td>دانشگاه تهران، ایران</td>
          <td>94</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>بارسلونا</td>
          <td>دانشگاه اصفهان، ایران</td>
          <td>82</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>آرسنال</td>
          <td>دانشگاه امیرکبیر، ایران</td>
          <td>70</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>رئال مادرید</td>
          <td>دانشگاه تبریز، ایران</td>
          <td>13</td>
        </tr>
      </tbody>
    </table>
    <button type="button" id="next" class="btn btn-dark">بعدی</button>
    <button type="button" id="previous" class="btn btn-dark">قبلی</button>

  </div>

</body>

</html>