<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="../scss/styles.scss" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" , style="color: red">
    <div class="d-flex bd-highlight mb-3">
      <div class="mr-auto p-2 bd-highlight">
        <a class="navbar-brand" href="#">
          <img src="../assets/logo.png" , width="100" , height="50" />
        </a>
      </div>
      <div class="align-self-center" style="width: 50px">خانه</div>
      <div class="align-self-center" style="width: 50px">داده ها</div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        ورود
      </button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        ثبت نام
      </button>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="جستجو" aria-label="Search" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          جستجو
        </button>
      </form>
    </div>
  </nav>

  <table class="table table-striped">
    <thead>
      <tr class="table-dark">
        <th scope="col">رتبه</th>
        <th scope="col">نام تیم</th>
        <th scope="col">نام دانشگاه و کشور</th>
        <th scope="col">امتیاز</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>قهرمان</td>
        <td>دانشگاه صنعتی شریف، ایران</td>
        <td>100</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>مدال نقره</td>
        <td>دانشگاه تهران، ایران</td>
        <td>94</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>بارسلونا</td>
        <td>دانشگاه اصفهان، ایران</td>
        <td>82</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>آرسنال</td>
        <td>دانشگاه امیرکبیر، ایران</td>
        <td>70</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>رئال مادرید</td>
        <td>دانشگاه تبریز، ایران</td>
        <td>13</td>
      </tr>
    </tbody>
  </table>
</body>

</html>