<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Data</title>
  <link rel="stylesheet" href="../../../dist/css/styles.css" />
</head>

<body dir="rtl">
  <nav class="navbar navbar-expand-lg navbar-light bg-light row align-items-center shadow p-3 mb-5 bg-white rounded">
    <div class="col-auto align-self-end">
      <img src="../../assets/logo.png" alt="" height="50px" />
      <button type="button" class="btn btn-light">خانه</button>
      <button type="button" class="btn btn-light text-primary">داده‌ها</button>
    </div>
    <div class="col row justify-content-end align-items-center">
      <div class="col">
        <button type="button" class="btn btn-light">ورود</button>
        <button type="button" class="btn btn-dark">ثبت نام</button>
      </div>
    </div>
  </nav>
  <div class="sidebar">
    <div class="info">
      <h4>اعضای تیم:</h4>
      <ul class="team">
        <li>فاطمه خاشعی</li>
        <li>سید مهدی فقیه</li>
      </ul>
    </div>
  </div>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr class="table-dark">
          <th scope="col">رتبه</th>
          <th scope="col">نام تیم</th>
          <th scope="col">نام دانشگاه و کشور</th>
          <th scope="col">امتیاز</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>کوشا جان</td>
          <td>دانشگاه صنعتی شریف، ایران</td>
          <td>1305</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>مبارزین تنها</td>
          <td>دانشگاه امبرکبیر، ایران</td>
          <td>1270</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>حاجی درچه‌ای</td>
          <td>دانشگاه علوم پزشکی اصفهان، اصفهان</td>
          <td>1250</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>عدالت و آزادی</td>
          <td>دانشگاه آزاد قزوین، ایران</td>
          <td>1105</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Beatles</td>
          <td>دانشگاه ملی شوچنکو، اوکراین</td>
          <td>940</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>الگل</td>
          <td>دانشگاه آزاد اسلامی واحد علوم تحقیقات، تهران</td>
          <td>925</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>عمال مناجم البيانات</td>
          <td>دانشگاه علم و صنعت اردن، اردن</td>
          <td>870</td>
        </tr>
      </tbody>
    </table>
    <button type="button" id="next" class="btn btn-dark">بعدی</button>
    <button type="button" id="previous" class="btn btn-dark">قبلی</button>

  </div>

</body>

</html>